<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<br>
    @model Dog
    <form action="/results" method="post">
        Name:<input type="text" name="Name">
        Breed:<input type="text" name="Breed">
        Weight:<input type="int" name="Weight">
        Owner's Email:<input type="text" name="OwnerEmail">
        <input type="submit" value="Add Dog!">
    </form>
</body>
</html>